<template name="userUpdate">
  <form class="main form">

    <div class="form-group">
      <label class="control-label" for="author">Name</label>
      <div class="controls">
          <input name="author" id="author" type="text" value="{{currentUser.profile.name}}" placeholder="your name" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
          <input name="email" id="email" type="text" value="{{currentUser.profile.email}}" placeholder="your email" class="form-control"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="location">Location</label>
        <select class="form-control" name="location" id="location" value='{{currentUser.profile.location}}'>
          <option value="" selected="selected">select location</option>
          <option value="Lviv">Lviv</option>
          <option value="Kyiv">Kyiv</option>
          <option value="Zhytomyr">Zhytomyr</option>
          <option value="Mariupol">Mariupol</option>
          <option value="Poltava">Poltava</option>
        </select>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary"/>
    <a type="button" class="btn btn-default" href="/">Cancel</a>
  </form>
</template>